<%= render partial: 'components/breadcrumb', locals: { breadcrumbs: [
  { text: 'Home', path: root_path},
  { text: 'Menus', path: restaurant_menus_path(@restaurant)},
  { text: @menu.name, path: restaurant_menu_path(@restaurant, @menu)},
  { text: 'Categories', path: restaurant_menu_path(@restaurant, @menu, tab: 'categories')},
  (@menu_category.parent.present? ? { text: @menu_category.parent.name, path: restaurant_menu_category_path(@restaurant, @menu, @menu_category.parent)} : nil),
  { text: @menu_category.name, path: restaurant_menu_menu_category_path(@restaurant, @menu, @menu_category) }
].compact } %>

<div data-controller='tabs' class="p-10">
  <%= render 'components/tabs', tabs: [
    { id: 'items', label: 'items', partial: 'menu_categories/items' },
    { id: 'subcategories', label: 'subcategories', partial: 'menu_categories/subcategories' }
  ] %>
</div>

