<nav class="text-sm px-8 py-2" aria-label="Breadcrumb">
  <ol class="list-none p-0 inline-flex px-5">
      <li class="flex items-center">
          <%= link_to root_path, class: "text-gray-800 flex justify-center items-center gap-2 hover:underline" do %>
            <span>Home</span>
          <% end %>
          <i class="fas fa-chevron-right text-gray-800 mx-2"></i>
      </li>
      <li class="flex items-center">
          <%= link_to restaurant_menus_path(@restaurant), class: "text-gray-800 flex justify-center items-center gap-2 hover:underline" do %>
            <span>Menus</span>
          <% end %>
          <i class="fas fa-chevron-right text-gray-800 mx-2"></i>
      </li>
      <li class="flex items-center">
          <span class="text-gray-500">
           <%= @menu.menu_name %>
          </span>
      </li>
  </ol>
</nav>


<div data-controller='tabs' class="p-10 text-gray-900 capitalize">
  <ul data-tabs-target="tabs" class="flex  text-sm">
    <li data-action="click->tabs#activate" data-tabs-target="tab" data-tabs-action="click->tabs#activate" class="p-4 cursor-pointer border-b" data-tab="items">items</li>
    <li data-action="click->tabs#activate" data-tabs-target="tab" data-tabs-action="click->tabs#activate" class="p-4 cursor-pointer border-b" data-tab="categories">categories</li>
  </ul>

  <div data-tabs-target="panels" class="p-4" data-tab="items">
  </div>
  <div data-tabs-target="panels" class="p-4" data-tab="categories">
    <%= render 'categories' %>
  </div>
</div>