<% if resource.errors.any? %>
  <div id="error_explanation" data-turbo-cache="false" class='bg-red-50 border-l-8 border-red-500 px-6 py-3'>
    <ul class="text-red-500 list-disc pl-5">
      <% resource.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>