<%= render 'components/breadcrumb', breadcrumbs: [
  { text: 'Home', path: root_path},
  { text: 'Menus', path: restaurant_menus_path(@restaurant)},
  { text: @menu.menu_name, path: restaurant_menu_path(@restaurant, @menu)},
  { text: @menu_category.name, path: restaurant_menu_menu_category_path(@restaurant, @menu, @menu_category)},
  { text: @menu_item.name, path: restaurant_menu_menu_category_menu_item_path(@restaurant, @menu, @menu_category, @menu_item) },
  { text: 'Edit', path: edit_restaurant_menu_menu_category_menu_item_path(@restaurant, @menu, @menu_category, @menu_item) }
] %>

<div class='p-10'>
  <%= render 'form', menu: @menu, menu_category: @menu_category, menu_item: @menu_item %>
</div>