<%= render 'components/breadcrumb', breadcrumbs: [
  { text: 'Home', path: root_path},
  { text: 'Menus', path: restaurant_menus_path(@restaurant)},
  { text: @menu.menu_name, path: restaurant_menu_path(@restaurant, @menu)},
  { text: @menu_category.name, path: restaurant_menu_menu_category_path(@restaurant, @menu, @menu_category)},
  { text: 'New Item', path: new_restaurant_menu_menu_category_menu_item_path(@restaurant, @menu, @menu_category) }
] %>

<div class='p-10'>
  <h4 class='font-semibold mb-5 uppercase underline'>add a new item</h4>
  <%= render 'form', menu: @menu, menu_category: @menu_category, menu_item: @menu_item %>
</div>