<div class="flex flex-col justify-center items-center p-8 sm:-mt-20 mt-10 bg-primary bg-fixed text-white">
  <div class="flex items-center justify-center">
    <h1 class='sm:text-2xl text-xl  font-primary'>What we offer</h1>
    <hr class='w-20 border-4 border-white ml-2'>
  </div>
  <div class="grid sm:grid-cols-3 grid-cols-1 sm:gap-20 gap-10 justify-center items-center mt-10">
    <div class="flex flex-col items-center sm:mr-10">
      <img width="94" height="94" src="https://img.icons8.com/3d-fluency/94/hamburger.png" alt="hamburger"/>
      <h2 class="text-lg text-white mt-2 font-primary">New Item?</h2>
      <p class="text-center mt-2 text-sm">
       No need to reprint your menu every time you add a new item. Just add it to your online menu and it will be updated instantly.
      </p>
    </div>
    <div class="flex flex-col items-center sm:mr-10 mt-10 sm:mt-0">
      <img width="94" height="94" src="https://img.icons8.com/3d-fluency/94/receive-cash.png" alt="receive-cash"/>
      <h2 class="text-lg text-white mt-2 font-primary">Price changed?</h2>
      <p class="text-center mt-2 text-sm">
        Update your prices in real time. No adding stickers to your existing ones.
      </p>
    </div>
    <div class="flex flex-col items-center sm:mr-10 mt-10 sm:mt-0">
      <img width="94" height="94" src="https://img.icons8.com/3d-fluency/94/test-passed.png" alt="test-passed"/>
      <h2 class="text-lg text-white mt-2 font-primary">
       Seasonal menu
      </h2>
      <p class="text-center mt-2 text-sm">
        Have a seasonal menu? No need to print a new menu every season. Just update your online menu.
      </p>
    </div>
    <div class="flex flex-col items-center sm:mr-10 mt-10 sm:mt-0">
      <img width="94" height="94" src="https://img.icons8.com/3d-fluency/64/money-bag-euro.png" alt="money-bag-euro"/>
      <h2 class="text-lg text-white mt-2 font-primary">
        Save coins
      </h2>
      <p class="text-center mt-2 text-sm">
        No need to print new menus every time you make a change. Save money and the environment.
      </p>
    </div>
    <div class="flex flex-col items-center sm:mr-10 mt-10 sm:mt-0">
      <img width="94" height="94" src="https://img.icons8.com/3d-fluency/94/paint-palette.png" alt="paint-palette"/>
      <h2 class="text-lg text-white mt-2 font-primary">
        Multiple themes
      </h2>
      <p class="text-center mt-2 text-sm">
        Choose from multiple themes to fit your restaurant's brand.
      </p>
    </div>
    <div class="flex flex-col items-center sm:mr-10 mt-10 sm:mt-0">
      <div class="flex items-center sm:mr-10 mt-10 sm:mt-0">
        <img width="64" height="64" src="https://img.icons8.com/3d-fluency/94/instagram-new.png" alt="instagram-new"/>
        <img width="64" height="100" src="https://img.icons8.com/3d-fluency/100/tiktok.png" alt="tiktok"/>
      </div>
      <h2 class="text-lg text-white mt-2 font-primary">
        Multiple platforms
      </h2>
      <p class="text-center mt-2 text-sm">
        No more managing your menu on multiple platforms. Manage it all in one place.
      </p>
    </div>
  </div>
</div>