<div class="flex flex-col gap-3 text-xs text-white relative sm:overflow-visible overflow-hidden">
  <div class="bg-black h-96 rounded-lg">
    <%= render 'demo_left_sidebar' %>
    <%= render 'demo_content' %>
    <%= render 'demo_right_sidebar' %>
  </div>
</div>