<header class="flex flex-col sm:gap-28 gap-10  sm:overflow-hidden"
>
  <div class="grid sm:grid-cols-3 grid-cols-1 px-10 py-1">
    <div class='col-span-1'></div>
    <div class='col-span-2 flex flex-col gap-4 justify-end sm:w-10/12 relative sm:text-right text-left'>
      <h1 class="sm:text-5xl text-2xl font-bold tracking-wide"> Simplifying menu management</h1>
      <p class="sm:text-base text-sm leading-7">
        Menufy is the solution to all your menu management problems. Easily manage your restaurant's menu from one place.
      </p>
      <%= link_to "Get Started ->", new_restaurant_path, class: "text-gray-900 font-semibold underline uppercase" %>
    </div>
  </div>

  <div class="flex sm:flex-row flex-col px-10 gap-8 mb-6">

    <a href="/layouts/moderna" class="bg-gray-900 text-white border border-white rounded-md flex flex-col justify-center items-center px-6 py-5 font-playfair backdrop-filter backdrop-blur-10 sm:w-96 relative hover:scale-105">
      <%= image_tag "https://i.pinimg.com/236x/01/a8/b2/01a8b20022d3ac8d1c0ad960e7b67466.jpg", alt: "Food Menu", class: "sm:w-44 w-20 sm:h-44 h-20 rounded-full object-cover sm:absolute sm:-top-20 hover:animate-spin" %>
      <p class="sm:text-2xl text-sm font-bold uppercase mb-2 sm:mt-24 mt-4">
        Bogof Mondays
      </p>
      <p class="mt-4 font-medium sm:text-xl">
        Classic Beef Burger
      </p>
      <p class="mt-2 text-sm">
        $12.99
      </p>
      <p class="mt-2 text-xs flex gap-1 text-yellow-500">
        Juicy | Tasty | Delicious
      </p>
    </a>

    <a href="/layouts/smart" class="bg-gray-300/15 border border-white rounded-md flex  justify-center items-center px-6 py-5 font-playfair backdrop-filter backdrop-blur-10 sm:w-96 scale-110 hover:bg-gray-100/50">
      <div class="flex flex-col gap-4">
        <%= image_tag "https://i.pinimg.com/236x/01/a8/b2/01a8b20022d3ac8d1c0ad960e7b67466.jpg", alt: "Food Menu", class: "sm:w-32 w-20 sm:h-32 h-20 rounded-full object-cover" %>
        <p class="mt-4 font-medium sm:text-md">
          Classic Beef Burger
        </p>
      </div>
      <div>
       'hello'
      </div>
    </a>

    <a href="/layouts/moderna" class="bg-gray-900 text-white border border-white rounded-md flex flex-col justify-center items-center px-6 py-5 font-playfair backdrop-filter backdrop-blur-10 sm:w-96 relative hover:scale-105">
    <%= image_tag "https://i.pinimg.com/236x/01/a8/b2/01a8b20022d3ac8d1c0ad960e7b67466.jpg", alt: "Food Menu", class: "sm:w-44 w-20 sm:h-44 h-20 rounded-full object-cover sm:absolute sm:-top-20 hover:animate-spin" %>
      <p class="sm:text-2xl text-sm font-bold uppercase mb-2 sm:mt-24 mt-4">
        Bogof Mondays
      </p>
      <p class="mt-4 font-medium sm:text-xl">
        Classic Beef Burger
      </p>
      <p class="mt-2 text-sm">
        $12.99
      </p>
      <p class="mt-2 text-xs flex gap-1 text-yellow-500">
        Juicy | Tasty | Delicious
      </p>
    </a>

  </div>

</header>