<div class='bg-black text-white py-5 px-10 mb-4 mt-6'>
  <ul class='flex justify-around font-bold'>
    <li>
     <a href='#pricing' class='hover:underline'>
       pricing
     </a>
    </li>
    <span>•</span>
    <li>
     <a href='#demo' class='hover:underline'>
       request demo
     </a>
    </li>
    <span>•</span>
    <li>
     <%= link_to layouts_path, class: "hover:underline" do %>
       themes
     <% end %>
    </li>
    <span>•</span>
    <li>
      <a href='#pricing' class='hover:underline'>
        contact
      </a>
    </li>

    
  </ul>

</div>