<div id="solutions" class="flex flex-col px-6 py-6">
  <div class="flex gap-2  items-center">
    <a href="#pricing" class="sm:text-4xl text-2xl font-bold text-right hover:underline">
      pricing.
      </a>
      <hr class='w-1/6 border-t-2 border-gray-900'>
    </div>
    <div class="grid sm:grid-cols-3 grid-cols-1 gap-8 mt-8 mb-4">
      <div class="bg-gray-100 flex flex-col p-4 mt-5  items-center relative h-full">
        <h3 class="text-gray-900 font-semibold text-lg mt-8">
          Basic Plan
        </h3>
        <p class="text-gray-700 text-sm mt-2 sm:text-center text-left">
          Create and manage your restaurant's menu for free. No credit card required. No commitment.
        </p>
      </div>
      
    </div>
  </div>
</div>