<div class="flex flex-col px-6 lg:py-4">
  <div class="flex justify-between items-center">
    <h5 class="text-lg font-semibold">
      <%= greeting %>, <%= current_user.first_name %>
    </h5>
    <%= link_to  current_user.restaurant, class: "text-blue-500 underline"  do %>
      <i class="fa-solid fa-link underline"></i>
      <%= current_user.restaurant.name %>
    <% end %>
  </div>
</div>