<div
style="margin: 0; box-sizing: border-box; font-family: 'Inter', sans-serif; font-weight: 300; font-size: 14px; background-color: #fff; width: 100%; max-width: 600px; margin: 0 auto; padding: 20px; display: flex; flex-direction: column; align-items: center; justify-content: center; gap: 20px; font-family: 'Inter', sans-serif;"
>
  <div
  style="width: 100%; max-width: 600px; margin: 0 auto; padding: 20px;"
  >
    <div style="display: flex; flex-direction: row; align-items: center; gap: 10px;">
      <%= image_tag(asset_url('logo.png'), style: 'width: 40px; height: 40px;') %>
      <h1 style="font-weight: 700; font-size: 18px;color: #000 ">foodmenu</h1>
    </div>
    <p
    style="line-height: 2; font-weight: 600; font-size: 16px;"
    >
      Hi <%= @restaurant.name %>,
    </p>
    <p
    style="line-height: 2;"
    >
      Let's get started! You're almost there.
      <br />
      Please confirm your email address to activate your account.
    </p>
    <p
    style="line-height: 2;"
    >
      If you did not create an account, no further action is required.
    </p>
    <p
    style="line-height: 2;"
    >
      <%= link_to 'Confirm email', confirm_email_restaurant_url(@restaurant), style: 'background-color: #000; color: white; padding: 10px 30px; border-radius: 5px; text-decoration: none;', target: '_blank', rel: 'noopener' %>
    </p>
  </div>
</div>