<%= render 'components/breadcrumb', breadcrumbs:  [
  { text: 'Home', path: root_path},
  { text:  "#{@restaurant.name}", path: restaurant_path(@restaurant) },
  { text: 'Branches'}
] %>

<div class='p-5'>
  <div class='flex justify-between items-center mb-6 sm:w-3/4'>
    <h1 class='font-semibold uppercase'>Branches(<%= @restaurant.locations.size %>) </h1>
    <% if current_user&.admin? %>
      <%= link_to new_location_restaurant_path, class: "btn btn-primary capitalize" do %>
        <i class="fa-solid fa-plus"></i>
        <span>Add a new branch</span>
      <% end %>
    <% end %>
  </div>

  <%= render 'locations' %>
</div>
