<% breadcrumbs =  [
  { text: 'Home', path: root_path},
  { text: 'Restaurants', path: restaurant_path(@restaurant)},
  { text:  "#{@restaurant.name}", path: restaurant_path(@restaurant) },
  { text: 'New Location'}
] %>

<% if @restaurant.chain? %>
  <% breadcrumbs.insert(3, { text: 'Branches', path: locations_restaurant_path(@restaurant) }) %>
<% end %>

<%= render 'components/breadcrumb', breadcrumbs: breadcrumbs %>

<% redirect_path = @restaurant.chain? ? locations_restaurant_path(@restaurant) : settings_restaurant_path(@restaurant) %>

<div class='px-10 py-5'>
  <h4 class='font-semibold mb-5 uppercase underline'>Add a location - <%= @restaurant.name %></h4>
  <%= render 'locations/new_form', location: @location, locatable_id: @restaurant.id, locatable_type: 'Restaurant', redirect_path: redirect_path %>
</div>
