<div data-controller='tabs' class="px-2 text-gray-900 capitalize">
  <ul data-tabs-target="tabs" class="flex  text-sm">
    <li data-action="click->tabs#activate" data-tabs-target="tab" data-tabs-action="click->tabs#activate" class="p-4 cursor-pointer border-b" data-tab="tab-1">profile</li>
    <li data-action="click->tabs#activate" data-tabs-target="tab" data-tabs-action="click->tabs#activate" class="p-4 cursor-pointer border-b" data-tab="tab-2">contacts</li>
    <li data-action="click->tabs#activate" data-tabs-target="tab" data-tabs-action="click->tabs#activate" class="p-4 cursor-pointer border-b" data-tab="tab-3">location</li>
  </ul>

  <div data-tabs-target="panels" class="p-4" data-tab="tab-1">
  </div>
  <div data-tabs-target="panels" class="p-4" data-tab="tab-2">
  </div>
  <div data-tabs-target="panels" class="p-4" data-tab="tab-3">
  </div>
</div>