<div class="flex flex-col  fixed inset-0 right-1/2 bg-gray-800 text-white font-normal text-sm z-10 hidden capitalize" id='mobile-sidebar'>
  <div class="flex justify-between items-center gap-20 py-6 px-4">
    <% if current_user.restaurant_user? %>
      <div class="flex items-center gap-2">
        <% if @restaurant.logo.attached? %>
          <%= image_tag(@restaurant.logo, alt: "Restaurant Logo", class: "rounded-full w-8 h-8 object-cover") %>
        <% end %>
        <span class="text-sm font-semibold uppercase"><%= @restaurant.name %></span>
      </div>
    <% else %>
      <div class="flex items-center gap-2">
        <%= image_tag('menu.png', alt: "Restaurant Logo", class: "rounded-full w-8 h-8 object-cover") %>
        <span class="text-sm font-semibold uppercase">food.menu</span>
      </div>
    <% end %>
    <i class="fa-solid fa-times" onclick="document.getElementById('mobile-sidebar').classList.add('hidden')"></i>
  </div>

  <%= render 'layouts/sidebar_items' %>

</div>