<li data-active-page-target="sidebarItem" data-path="settings" class="sidebar-item py-2 hover:bg-gray-50 hover:text-gray-600 hover:border-l-4 hover:border-gray-500 absolute bottom-24 w-full">
  <%= link_to settings_restaurant_path(@restaurant), class: "px-4 flex items-center gap-2" do %>
    <i class="fa-solid fa-gear"></i>
    <span>settings</span>
  <% end %>
</li>