<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <style>
    @import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500&family=Protest+Riot&family=Amatic+SC&display=swap');
      body {
        margin: 0;
        box-sizing: border-box;
        font-family: 'Inter', sans-serif;
        font-weight: 300;
        font-size: 14px;
        background-color: #fff;
      }

      .container {
        width: 100%;
        max-width: 600px;
        margin: 0 auto;
        padding: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 20px;
      }

      .content {
        width: 100%;
        max-width: 600px;
        margin: 0 auto;
        padding: 20px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      }

      .content p {
        line-height: 2;
      }
    </style>
  </head>

  <body>
    <%= yield %>
  </body>
</html>